/** @format */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-primary-dark: #1e5128;
  --color-secondary-dark: #4e9f3d;
  --color-primary-text-dark: #d8e9a8;
  --color-primary: #eae7b1;
  --color-secondary: #9c9964;
  --color-primary-text: #333;
  --color-secondary-text: #fff;
  --color-secondary-text-dark: --color-primary-text-dark;

  --color-third-dark: linear-gradient(
    var(--color-primary-dark),
    var(--color-secondary-dark),
    var(--color-secondary-dark),
    var(--color-secondary-dark),
    var(--color-secondary-dark),
    var(--color-secondary-dark),
    var(--color-primary-dark)
  );

  --color-third: linear-gradient(
    var(--color-primary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-secondary),
    var(--color-primary)
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-primary);
  color: var(--color-primary-text);
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin: 1rem 0;
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.logos-small {
  display: none;
}

.page-content {
  width: 100%;
  margin: 20px 0;
}

.page-content h2,
.page-content h3 {
  margin: 20px 0;
}

.page-content h2 {
  font-size: 40px;
}

.page-content h3 {
  font-size: 25px;
}

body.dark-mode {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-text-dark);
}

body.dark-mode .card {
  background-color: #333;
}

body.dark-mode .svg {
  color: rgb(151, 146, 146);
}
body.dark-mode .header {
  background: var(--color-primary-dark);
}

body.dark-mode .header a {
  color: var(--color-secondary-dark-text);
}

body.dark-mode .header .svg {
  color: var(--color-secondary-dark-text);
}

body.dark-mode .footer {
  background: var(--color-third-dark);
  color: var(--color-secondary-dark-text);
}

body.dark-mode .footer a {
  color: var(--color-secondary-dark-text);
}

body.dark-mode .showcase {
  background: var(--color-third-dark);
}

body.dark-mode .btn {
  background-color: var(--color-third-dark);
}

body.dark-mode .showcase-text {
  color: var(--color-secondary-text-dark);
}
body.dark-mode .showcase h1 {
  color: var(--color-secondary-text-dark);
}
body.dark-mode .btn {
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary-text-dark);
}

body.dark-mode a {
  color: var(--color-secondary);
}

body.dark-mode .nav-drawer {
  background: var(--color-primary-dark);
}

.form {
  background-color: #677;
  width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

textarea {
  height: 10rem;
}

.submit {
  background-color: #4c4eaf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 70%;
}

.submit:hover {
  background-color: #6162ad;
}

.chat {
  cursor: pointer;
  position: fixed;
  left: 30px;
  bottom: 30px;
}

.modal {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #00000087;
  width: 100dvw;
  height: 100dvh;
  display: flex;
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  h1,
  h2 {
    text-align: center;
  }
}
