---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Showcase from '../components/Showcase.jsx';
---

<Layout title="About Lewis Benson">
  <Showcase client:load />
  <section class="page-content">
    <div class="container">
      <Card>
        <h2>Lewis Benson - Education and Expertise</h2>
        <p>
          Welcome to my personal website! I am a web developer with a passion
          for problem-solving and a love for music. I hold a graduate
          certificate from the Code Fellows 401 advanced javascript full stack
          course. My skillset includes proficiency in the MERN stack, pair
          programming, and Jest testing. I have over a year of experience in the
          development industry, where I have built CRUD applications using the
          MERN stack.
        </p>
        <h3>Professional Background and Competencies</h3>
        <p>
          My background in the military as a heavy equipment construction
          supervisor has honed my leadership and problem-solving abilities,
          which I bring to my work as a web developer. In my role as a
          construction supervisor, I was responsible for overseeing a team and
          ensuring that projects were completed on time and within budget. This
          experience has taught me the importance of clear communication and
          teamwork, skills that I use every day in my work as a developer.
        </p>
        <p>
          I am dedicated to delivering work of exceptional quality that exceeds
          client expectations. I take pride in my military service and the
          skills I have acquired during that time, including my ability to lead,
          problem-solve, and work well under pressure. My expertise in the MERN
          stack, pair programming, and Jest testing, combined with my passion
          for problem-solving, makes me an asset to any project.
        </p>
        <p>
          I am also known for my strong ability to collaborate and contribute to
          open source projects, as well as my ability to work well in a team
          environment. I believe that by working together, we can achieve
          greater results than by working alone. I am always willing to lend my
          expertise to help others and am committed to continuous learning and
          growth.
        </p>
      </Card>
      <Card>
        <h3>Interests and Leisure Activities</h3>
        <p>
          During my free time, I have a passion for playing jazz music on my
          guitar and saxophone, as well as building computers. I enjoy exploring
          new hobbies and keeping up with the latest trends in technology and
          web development. I am a lifelong learner and love to continuously seek
          out new opportunities to grow my knowledge and skills.
          <div></div>
          Besides my interests in technology, I am an avid traveler who loves to
          explore new cultures, try new cuisines, and experience different ways of
          life. I believe that travel broadens the mind and helps me to see the world
          from new perspectives. I also enjoy spending time with my friends and family,
          whether that's going on outdoor adventures, trying new activities or simply
          enjoying each other's company.
          <div></div>
          Overall, I am a well-rounded individual who is passionate about life, learning,
          and personal growth. Thank you for visiting my website. I hope you find
          it informative and enjoyable.
        </p>
      </Card>

      <Card>
        <h3>Contact</h3>
        <p>
          Please feel free to reach out to me with any questions or to discuss
          potential opportunities. You can contact me via LinkedIn, Twitter or
          by email.
        </p>
        <ul>
          <li>LinkedIn: https://www.linkedin.com/in/tm-lewis-benson/</li>
          <li>Twitter: https://twitter.com/TM_LBenson</li>
          <li>Email: tm.lewisbenson@gmail.com</li>
        </ul>
      </Card>
    </div>
  </section>
</Layout>
