---
import Layout from '../layouts/Layout.astro';
import logos from '../images/deploy-logos.png';
import logosSmall from '../images/deploy-logos.png';
import Card from '../components/Card.astro';
import Showcase from '../components/Showcase.astro';
---

<Layout title="About Lewis Benson">
    <Showcase heading="Lewis Benson" />
  <section class="page-content">
    <div class="container">
      <Card>
        <h2>About Lewis Benson</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, vel
          quas repudiandae optio voluptatibus dolore maxime sed nisi ad, quod
          exercitationem. Magni facilis ducimus neque nostrum voluptas, eius,
          aliquam ullam eligendi corporis perferendis dolor iusto veniam cumque
          saepe iste porro, non optio amet. Enim esse porro incidunt sequi
          consectetur vitae.
        </p>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio porro
          sequi officia nihil optio dicta eos, cumque asperiores id harum, qui
          quas dolorem tempore? Recusandae repudiandae magnam quae doloribus
          impedit.
        </p>
      </Card>
      <Card>
        <h3>First Heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
          deserunt inventore ut voluptate, officia maiores repellat tenetur
          praesentium omnis est ex tempora a necessitatibus reiciendis at et
          dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
          laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
          iusto error molestias dolorum, necessitatibus labore?
        </p>
      </Card>
      <Card>
        <h3>Second heading</h3>
        <img
          class="logos"
          src={logos}
          alt=""
        />
        <img
          class="logos-small"
          src={logosSmall}
          alt=""
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
          doloribus, vel ipsum mollitia aliquid cumque commodi corrupti omnis
          ipsam sit earum, dolore quisquam harum qui non, quasi ea voluptatum
          debitis!
        </p>
      </Card>
      <Card>
        <h3>Contact</h3>
        <p>Feel free to reach out, ask me questions.</p>

        <ul>
          <li>Reach out on LinkedIn</li>
          <li>Reach out on Twitter</li>
          <li>Send me an Email!</li>
        </ul>
      </Card>
    </div>
  </section>
</Layout>
