---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.jsx';
import Features from '../components/Features.astro';
---

<Layout title="TM-LBenson">
  <Showcase client:load />
  <Features />
  <section class="page-content">
    <div class="container">
      <h2>Things That Interest Me</h2>
      <p>
        Welcome to my personal blogging website! Here, I will be sharing my
        thoughts, experiences, and projects as a web developer. My passion for
        technology drives me to constantly learn and grow in the field, and this
        website serves as a portfolio for my work and a platform for me to share
        my knowledge and insights with others. Whether you're a fellow developer
        or just someone who's interested in technology, I hope you'll find
        something of value here.
      </p>

      <h3>How to Contact Me</h3>
      <p>
        How to Contact Me Thank you for visiting my website! If you have any
        questions, feedback, or just want to say hi, you can reach me through <a
          href="mailto:tm.lewisbenson@gmail.com?subject = Feedback&body = Message"
        >
          email.
        </a>
        I am always happy to connect with other like-minded individuals and discuss
        web development or any other topics that interest us.
      </p>
    </div>
  </section>
</Layout>
