---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.jsx';
import Features from '../components/Features.astro';
import Projects from '../components/Projects.astro';
import RecentBlogs from '../components/RecentBlogs.astro';
import About from '../components/About.astro';
---

<Layout title="TM-LBenson">
  <Showcase client:load />
  <Features />
  <section class="page-content">
    <div class="container">
      <h2>Welcome to my portfolio and blog!</h2>
      <p>
        I am passionate about creating responsive, user-friendly, and visually
        appealing web applications that solve real-world problems and meet the
        client's requirements. Whether it is building dynamic websites or
        developing complex web applications, I am committed to delivering the
        best possible solution.
      </p>

      <p>
        I have acquired my Advanced Software Development in Full-Stack
        JavaScript certificate from Code Fellows, which provided me with a solid
        foundation in web development. My experience working on various projects
        has taught me the importance of delivering quality software solutions on
        time and within budget. Additionally, my experience working with
        different web frameworks and libraries has enabled me to stay up-to-date
        with the latest trends in web development.
      </p>
      <section class="projects">
        <Projects />
      </section>
      <section class="about">
        <About />
      </section>
      <h2 class="heading">Recent Blog Articles</h2>
      <RecentBlogs />
    </div>
  </section>
</Layout>

<style>
  .heading {
    margin-top: 8rem;
    padding-top: 8rem;
  }
  .projects {
    margin-top: 15rem;
  }
  .about {
    margin-top: 15rem;
  }
</style>
