---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.jsx';
import Features from '../components/Features.astro';
import Projects from '../components/Projects.astro';
import RecentBlogs from '../components/RecentBlogs.astro';


---

<Layout title="TM-LBenson">
  <Showcase client:load />
  <Features />
  <section class="page-content">
    <div class="container">
      <h2>Welcome to my portfolio and blog!</h2>
      <p>
        I am passionate about creating responsive, user-friendly, and visually
        appealing web applications that solve real-world problems and meet the
        client's requirements. Whether it is building dynamic websites or
        developing complex web applications, I am committed to delivering the
        best possible solution.
      </p>

      <p>
        I have acquired my Advanced Software Development in Full-Stack
        JavaScript certificate from Code Fellows, which provided me with a solid
        foundation in web development. My experience working on various projects
        has taught me the importance of delivering quality software solutions on
        time and within budget. Additionally, my experience working with
        different web frameworks and libraries has enabled me to stay up-to-date
        with the latest trends in web development.
      </p>
      <Projects />
      <h2 class="heading">Recent Blog Articles</h2>
      <RecentBlogs />
      <h3>Get in Touch</h3>
      <p>
        Thank you for visiting my website! I love hearing from visitors, so if
        you have any questions, feedback, or just want to say hello, feel free
        to use the chat bubble in the bottom corner of the screen. I'm always
        eager to connect with individuals who share similar interests and have
        discussions about web development or any other topics that interest us.
        Looking forward to hearing from you!
      </p>
    </div>
  </section>
</Layout>

<style>
  .heading {
    margin-top: 8rem;
    padding-top: 8rem;
  }
</style>
