---
import Card from './Card.astro';
---

<section class="page-content">
  <div class="container">
    <Card>
      <h2>Education and Expertise</h2>
      <p>
        Welcome to my personal website! I am a web developer with a passion for
        problem-solving and a love for music. I hold a graduate certificate from
        the Code Fellows 401 Advanced JavaScript Full Stack course. My skillset
        includes proficiency in the MERN stack, pair programming, and Jest
        testing. I have over a year of experience in the development industry,
        during which I have built robust CRUD applications using the MERN stack.
      </p>
      <h3>Professional Background and Competencies</h3>
      <p>
        My background in the military as a heavy equipment construction
        supervisor has honed my leadership and problem-solving abilities, which
        I bring to my work as a web developer. In my role as a construction
        supervisor, I was responsible for overseeing a team and ensuring that
        projects were completed on time and within budget. This experience has
        taught me the importance of clear communication and teamwork, skills
        that I utilize every day in my work as a developer.
      </p>
      <p>
        I am dedicated to delivering work of exceptional quality that exceeds
        client expectations. I take pride in my military service and the skills
        I have acquired during that time, including my ability to lead,
        problem-solve, and work well under pressure. My expertise in the MERN
        stack, pair programming, and Jest testing, combined with my passion for
        problem-solving, makes me a valuable asset to any project.
      </p>
      <p>
        I am also known for my strong ability to collaborate and contribute to
        open-source projects, as well as my ability to work effectively in a
        team environment. I believe that by working together, we can achieve
        greater results than by working alone. I am always willing to lend my
        expertise to help others and am committed to continuous learning and
        growth.
      </p>
    </Card>
    <Card>
      <h3>Interests and Leisure Activities</h3>
      <p>
        I am a dedicated web developer with a strong background in various
        programming languages, frameworks, and libraries. My passion for
        technology and web development extends beyond my professional life, as I
        continuously seek out new opportunities to grow my knowledge and skills.
        <div></div>
        During my free time, I enjoy playing jazz music on my guitar and saxophone,
        building computers, and exploring new hobbies. I am a lifelong learner and
        love to keep up with the latest trends in technology and web development.
        <div></div>
        Besides my interests in technology, I am an avid traveler who loves to explore
        new cultures, try new cuisines, and experience different ways of life. I
        believe that travel broadens the mind and helps me see the world from new
        perspectives. I also enjoy spending time with my friends and family, whether
        that's going on outdoor adventures, trying new activities, or simply enjoying
        each other's company.
      </p>
    </Card>

    <Card>
      <h3>Get in Touch</h3>
      <p>
        Thank you for visiting my website! I love hearing from visitors, so if
        you have any questions, feedback, or just want to say hello, feel free
        to use the chat bubble in the bottom corner of the screen. I'm always
        eager to connect with individuals who share similar interests and have
        discussions about web development or any other topics that interest us.
        Looking forward to hearing from you!
      </p>
      <ul class="links">
        <li>
          <a href="https://www.linkedin.com/in/tm-lewis-benson/"
            ><iconify-icon
              icon="mdi:linkedin"
              style="color: black;"
              width="25"
              height="25"
            ></iconify-icon>LinkedIn</a
          >
        </li>
        <li>
          <a href="https://github.com/tm-LBenson"
            ><iconify-icon
              icon="mdi:github"
              style="color: black;"
              width="25"
              height="25"
            ></iconify-icon>GitHub</a
          >
        </li>
        <li>
          <a href="https://twitter.com/TM_LBenson"
            ><iconify-icon
              icon="icon-park-solid:twitter"
              style="color: black;"
              width="25"
              height="25"
            ></iconify-icon>Twitter</a
          >
        </li>
      </ul>
    </Card>
  </div>
</section>
