/**
 * fade-out class
 *
 * @format
 */

.sun-svg,
.moon-svg {
  position: fixed;
  animation: fadeOut 2.99s ease-in-out;
}

/* keyframes for fadeIn and fadeOut animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
