---
import Moon from './icons/Moon.astro';
import Sun from './icons/Sun.astro';
---

<script>
  async function moveMoon() {
    await setTimeout(() => {
      document.querySelector('.moon-svg').classList.add('move-moon');
    }, 300);
  }

  async function removeClass() {
    await setTimeout(() => {
      document.querySelector('.toggle-moon').classList.add('fade-out');
      setTimeout(() => {
        document.querySelector('.moon-svg').classList.remove('move-moon');
        document.querySelector('.toggle-moon').classList.remove('fade-out');
        document.querySelector('.toggle-moon').classList.remove('fade-in');
      }, 1100);
    }, 1000);
  }
  async function showSun() {
    await document.querySelector('.toggle-sun').classList.add('fade-in');
    await moveSun();
    await removeSun();
  }

  async function moveSun() {
    await setTimeout(() => {
      document.querySelector('.sun-svg').classList.add('move-sun');
    }, 300);
  }

  async function removeSun() {
    await setTimeout(() => {
      document.querySelector('.toggle-sun').classList.add('fade-out');
      setTimeout(() => {
        document.querySelector('.sun-svg').classList.remove('move-sun');
        document.querySelector('.toggle-sun').classList.remove('fade-out');
        document.querySelector('.toggle-sun').classList.remove('fade-in');
      }, 1100);
    }, 1000);
  }

  async function showMoon() {
    await document.querySelector('.toggle-moon').classList.add('fade-in');
    await moveMoon();
    await removeClass();
  }

  function toggleDarkMode() {
    const isDarkModeEnabled = localStorage.getItem('darkMode') === 'enabled';
    if (isDarkModeEnabled) {
      localStorage.setItem('darkMode', 'disabled');
      document.body.classList.remove('dark-mode');
      showSun();
    } else {
      localStorage.setItem('darkMode', 'enabled');
      document.body.classList.add('dark-mode');
      showMoon();
    }
  }

  const toggleButton = document.getElementById('toggle-button');
  toggleButton.addEventListener('click', toggleDarkMode);

  if (localStorage.getItem('darkMode') === 'enabled') {
    document.body.classList.add('dark-mode');
  }
</script>
<section class="toggle-moon hide">
  <div>
    <Moon />
  </div>
</section>
<section class="toggle-sun hide">
  <Sun />
</section>

<style>
  .hide {
    opacity: 0;
  }

  .toggle-moon {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(purple, rgb(101, 4, 101));
  }

  .toggle-sun {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(128, 96, 0), rgb(156, 149, 23));
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 0.8;
    }
    to {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fadeIn 0.7s forwards;
  }

  .fade-out {
    animation: fadeOut 1.2s forwards;
  }
</style>
