---
import Card from './Card.astro';
const featuresData = [
  {
    title: 'Create',
    body: "Creating a website is about more than just coding. It's about understanding the needs of your users, and using your technical skills to bring their vision to life. With the right tools and mindset, you can create websites that stand out and deliver real value to your audience.",
  },
  {
    title: 'Innovate',
    body: "Innovation is the key to staying ahead in the web development industry. By embracing new technologies, experimenting with different design concepts, and pushing the boundaries of what's possible, you can create websites that are truly unique and user-friendly.",
  },
  {
    title: 'Captivate',
    body: "Captivating website design is all about creating an engaging user experience. Whether it's through visually stunning graphics, intuitive navigation, or interactive elements, a captivating website draws in users and keeps them coming back for more.",
  },
];
---

<section class="features">
  <div class="container">
    {
      featuresData.map((item) => (
        <div class="grow">
          <Card>
            <h3>{item.title}</h3>
            <p>{item.body}</p>
          </Card>
        </div>
      ))
    }
  </div>
</section>

<style>
  .grow {
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
    padding: 0 20px;
    margin: auto;
  }

  @media (max-width: 1200px) {
    .features .container {
      grid-template-columns: 1fr;
    }
  }
</style>
