---
import Card from './Card.astro';
const featuresData = [
  {
    title: 'Create',
    body: 'Creating a website goes beyond coding. It involves understanding user needs and utilizing technical skills to make their vision a reality. With the right tools and mindset, craft websites that stand out, delivering true value to your audience.',
  },
  {
    title: 'Innovate',
    body: 'Staying ahead in web development requires innovation. Embrace new technologies, experiment with diverse design concepts, and push boundaries to build websites that are truly unique, user-friendly, and ahead of the curve.',
  },
  {
    title: 'Captivate',
    body: 'Captivating website design focuses on an engaging user experience. By incorporating visually stunning graphics, intuitive navigation, and interactive elements, create a captivating website that draws users in and keeps them returning for more.',
  },
];
---

<section class="features">
  <div class="container">
    {
      featuresData.map((item) => (
        <div class="grow">
          <Card>
            <h3>{item.title}</h3>
            <p class="body">{item.body}</p>
          </Card>
        </div>
      ))
    }
  </div>
</section>

<style>
  .grow {
    display: flex;
    justify-content: center;

    width: 100%;
    transition: all 0.2s ease-in-out;
  }
  .body {
    height: 16rem;
  }
  .grow:hover {
    transform: scale(1.1);
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
    padding: 0 20px;
  }

  @media (max-width: 1200px) {
    .features .container {
      grid-template-columns: 1fr;
    }
    .body {
      height: auto;
      width: 80%;
    }
    .grow {
      margin: 0;
      width: 100%;
    }
  }
</style>
