---
const year = new Date().getFullYear();
---
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
<footer class="footer">
  <div class="container">
    <div>
      <h3>TM-LBenson</h3>
      <p>Copyright {year} Lewis Benson.</p>
    </div>
    <div>
      <h3>Social</h3>
      <ul class="links">
        <li>
          
          <a href="https://www.linkedin.com/in/tm-lewis-benson/"><iconify-icon icon="mdi:linkedin" style="color: black;" width="25" height="25"></iconify-icon>LinkedIn</a>
        </li>
        <li><a href="https://github.com/tm-LBenson"><iconify-icon icon="mdi:github" style="color: black;" width="25" height="25"></iconify-icon>GitHub</a></li>
        <li><a href="https://twitter.com/TM_LBenson"><iconify-icon icon="icon-park-solid:twitter" style="color: black;" width="25" height="25"></iconify-icon>Twitter</a></li>
      </ul>
    </div>
    <div>
  
        <div class="back-to-top"></div>
    
      <h3>Links</h3>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</footer>
<script> 
document.querySelector('.back-to-top').addEventListener('click',()=>{
  document.body.scrollIntoView({behavior: 'smooth', block: 'start'});
});
let lastKnownScrollY = 0;
let currentScrollY = 0;
const backToTop = document.querySelector('.back-to-top');

window.addEventListener('scroll', () => {
  lastKnownScrollY = currentScrollY;
  currentScrollY = window.scrollY;
  if (currentScrollY > lastKnownScrollY && currentScrollY > 100) {
    backToTop.classList.add('visible');
  } else {
    backToTop.classList.remove('visible');
  }
});



</script>
<style>

  .back-to-top{
    content: url('https://api.iconify.design/material-symbols/arrow-upward.svg?color=white&width=25&height=25');
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 10000px;
    background: linear-gradient(red, rgb(159, 1, 1));
    height: 50px;
    width: 50px;
    opacity: 0;
  transition: opacity 0.5s ease-in-out;
  }


  .back-to-top.visible {
  opacity: 1;
}

  .footer {
    background: var(--color-third);
    color: #fff;
    text-align: center;
    padding: 10rem;
    margin-top: 60px;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
    gap: 2rem;
  }

  .footer a {
    color: var(--color-secondary-text);
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer h3 {
    margin-bottom: 10px;
  }

  .footer div:nth-child(1) {
    text-align: left;
  }

  @media (max-width: 500px) {
    .footer div:nth-child(2) {
      display: none;
    }
  }
</style>
