---
import logo from '../images/logo.png';
import DarkMode from './DarkMode.astro';
import DarkModeToggle from './icons/DarkModeToggle.astro';
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img
          src={logo}
          alt="tm-LBenson logo"
        />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li
          id="toggle-button"
          class="link"
        >
          <DarkMode />
          <DarkModeToggle />
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .link {
    cursor: pointer;
  }
  .header {
    height: 70px;
    background: var(--color-secondary);
  }

  .header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .header img {
    height: 35px;
    vertical-align: middle;
  }

  .header nav ul {
    display: flex;
  }

  .header nav ul li {
    padding: 0 10px;
  }

  .header nav ul li a {
    color: #fff;
  }
</style>
