/** @format */

.link {
  cursor: pointer;
}
.header {
  width: 100%;
  height: 70px;
  background: var(--color-primary);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header img {
  height: 35px;
  vertical-align: middle;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 10px;
}

.header nav ul li a {
  color: var(--color-primary-dark);
}

.svg {
  color: var(--color-primary-dark);
}
.nav-links {
  display: block;
}

.nav-drawer-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  z-index: 12;
  cursor: pointer;
  font-size: 24px;
  color: rgba(255, 0, 0, 0.299);
}

.nav-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  z-index: 10;
  transform: translateX(-100%);
}
.nav-drawer.open {
  transform: translateX(0);
}

.drawer-logo {
  margin: 1rem;
}

.nav-drawer ul {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.nav-drawer li {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

@media (max-width: 768px) {
  .nav-drawer-toggle {
    display: block;
  }
}
