---
import site1 from '../images/site1.png';
import site2 from '../images/site2.png';
import site3 from '../images/site3.png';
---

<section>
  <h2>Projects Showcase</h2>
  <div class="project__wrapper">
    <a href="https://prodigy-path.netlify.app/"
      ><img
        src={site1}
        alt="screenshot of prodigy path"
      /></a
    >

    <a href="https://lewis-benson.io/"
      ><img
        src={site2}
        alt="screenshot of blog"
      /></a
    >

    <a href="https://yelp-camp-lewis.cyclic.app/"
      ><img
        src={site3}
        alt="screenshot of yelp camp"
      /></a
    >
  </div>
</section>

<style>
  .project__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
  }
  .project__wrapper a,
  img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
</style>
