/** @format */

.showcase {
  height: auto;
  background: var(--color-third);
  padding: 30px;
}

.showcase-blog {
  min-height: 300px;
}

.showcase-demo {
  width: 100%;
  text-align: center;
}

.showcase-text {
  max-width: 500px;
  color: var(--color-secondary-text);
  text-align: center;
  margin: 50px auto;
}

.showcase h1 {
  font-size: 50px;
  color: var(--color-secondary-text);
  margin-bottom: 20px;
}

.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}

.showcase-img {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  max-width: 1050px;
  margin: auto;

  border-radius: 6px;
  text-align: center;
  background-color: beige;
}
.profile-pic {
  border-radius: 50px;
}

@media (max-width: 960px) {
}
